/* Step 1 -> Step 2 */
.move-factorials-left {
  animation: move-factorials-left 0.5s ease-in-out forwards;
}
  
@keyframes move-factorials-left {
  from {
    left: 50%;
  }
  to {
    left: 15%;
  }
}

/* Responsive styles for screens smaller than 360px */
@media (max-width: 389px) {
  .factorial-text {
    font-size: 1.3rem; /* text-xl equivalent */
  }
}
  
/* Step 2 -> Step 3 */
.number-moves-left {
  animation: number-moves-left 0.2s ease-in-out forwards;
}

@keyframes number-moves-left {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-20px);
    opacity: 0;
  }
}

.number-moves-right {
  animation: number-moves-right 0.2s ease-in-out forwards;
}

@keyframes number-moves-right {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(20px);
    opacity: 0;
  }
}

/* Step 3 -> Solve Prompt */
.move-factorial-5-right {
  animation: move-factorial-5-right 0.3s ease-in-out forwards;
}

@keyframes move-factorial-5-right {
  from {
    left: 0%;
  }
  to {
    left: 22%;
  }
}

.move-factorial-4-right {
  animation: move-factorial-4-right 0.3s ease-in-out forwards;
}

@keyframes move-factorial-4-right {
  from {
    left: 0%;
  }
  to {
    left: 24%;
  }
}

.move-factorial-3-right {
  animation: move-factorial-3-right 0.3s ease-in-out forwards;
}

@keyframes move-factorial-3-right {
  from {
    left: 0%;
  }
  to {
    left: 26%;
  }
}

.move-factorial-2-right {
  animation: move-factorial-2-right 0.3s ease-in-out forwards;
}

@keyframes move-factorial-2-right {
  from {
    left: 0%;
  }
  to {
    left: 26%;
  }
}

/* Solve Prompt */
.inputs {
  width: 4rem;
  height: 4rem;
  text-align: center;
  background: transparent;
  border: 2px solid #9ca3af;
  border-radius: 4px;
  outline: none;
  font-size: 2.25rem;
  font-weight: bold;
  color: #5750E3;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}