.move-factorials-left {
    animation: move-factorials-left 0.5s ease-in-out forwards;
  }
  
  @keyframes move-factorials-left {
    from {
      left: 50%;
    }
    to {
      left: 15%;
    }
  }

  /* Responsive styles for screens smaller than 360px */
  @media (max-width: 379px) {
    .factorial-text {
      font-size: 1.3rem; /* text-xl equivalent */
    }
  }
  